@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 100vh;
    border: 2px solid #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #818a9e;
  }
}

